#billing_address_2_field.rt-form--overlay,
#shipping_address_2_field.rt-form--overlay {
  .rt-form__label {
    width: 100%;
    overflow: auto;
    height: auto;
    clip: unset !important;
    clip-path: none !important;
  }
  .rt-form__input::placeholder{
    color: transparent !important;
  }
}

// Ongkoskirim.id sort checkout
.ongkoskirim-id{
  #billing_state_field,
  #shipping_state_field{
    order: 1;
  }

  #billing_city_field,
  #shipping_city_field{
    order: 2;
  }

  #billing_district_field,
  #shipping_district_field{
    order: 3;
  }

  #billing_address_1_field,
  #shipping_address_1_field{
    order: 4;
  }

  #billing_address_2_field,
  #shipping_address_2_field{
    order: 5;
  }

  #billing_postcode_field,
  #billing_postcode_field{
    order: 6;
  }
}